*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Times, serif;
    letter-spacing: 1.1px;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: consolas; */
   }
   *{
    --themeColor: #000;
    --headers2: 
   }
body{
    --background1: #000;
    --background2: #222;
    --background3: #333;
    --background4: #4444;
    --background5: #555;
    --background6: #777;

    --background2WithTransparency: #2e2d2d54;

    --headerColor: #032e02;
    --headerColor2: #023d29;

    --border-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--themeColor);
    color: #ececec;
    height: max-content;
    min-height: 100vh;
    width: 100%;
    margin: auto;
}

.wrapperGeneral.lessHeight{
    display: none;
}
.wrapperGeneral{
    width: 100%;
    display: block;
    position: relative;
}
body.darkMode{
    /* background-color: #07151f; */
    background-color: var(--themeColor);
}



.loaderWrapper{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    /* background: #002331; */
    background-color: var(--themeColor);
}
.loaderWrapper .name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: max-content;
    margin: auto;
    font-size: 30px;
    letter-spacing: 3px;
    
    color: hsl(86 80 43/0.1);
    /* background: linear-gradient(90deg,#07f3a4,#07f3a4,#222,#4dc3f1,#20baf7); */
    background: url(images/AI\ 2.webp);

    background-clip: text;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: nameAnime 2s ease-in-out infinite;
}
@keyframes nameAnime {
    30%{
        background-size: 70% 100%;
    }
    50%{
        background-size: 120% 100%;
    }
    80%{
        background-size: 50% 100%;
    }
}

.loaderWrapper .name span{
    width: 100%;
    margin: auto;
    letter-spacing: 20px;
    font-size: 1.3em;
    text-align: center;
}
.hide{
    display: none;
}



.header{
    height: 2vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.headers{
    width: 100%;
    margin: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 10px;
    font-style: italic;
    /* font-family: consolas; */
    z-index: 100;

    mask-image: linear-gradient(transparent ,#000, #000, transparent);
    -webkit-mask-image: line-height(transparent,#000, #000, transparent);
}
.headers img {
    height: 12vh;
    width: auto;
    cursor: pointer;
    transition: .5s all;
    mask-image: linear-gradient(90deg,#000, #000,transparent);
    -webkit-mask-image: line-height(90deg,#000, #000,transparent);
    }
.headers img:hover{
    height: 30vh;
    width: auto;

    border: var(--border-color) solid .2px;

    mask-image: linear-gradient(90deg, #000, #000,#000);
    -webkit-mask-image: line-height(90deg, #000, #000,#000);
}
/* 
.logo{
    width: 70%;
    margin: auto;
    text-decoration: none;
    padding: 7px 10px;
    letter-spacing: 7vh;
    text-align: center;
    font-size: 1em;
    text-shadow: 1px 2px 1px;

    color: hsla(71, 100%, 50%, 0.205);
    background: linear-gradient(90deg,rgba(255, 0, 0, 0.096),#00acf01e,rgba(255, 255, 0, 0.267),rgba(128, 255, 0, 0.062));
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    animation: color_change 2s ease-in-out infinite;
}
@keyframes color_change{
    25%{
        background-size: 0% 100%;
    }
    50%{
        background-size: 100% 100%;
    }
    75%{
        background-size: 50% 100%;
    }
    
} */



.headers .my_nav{
    justify-content: end;
    /* padding-right: 5%; */
}
.my_nav a{
    margin: 15px;
    justify-content: space-between;
    text-decoration: none;
    color: #ededed;
    font-weight: 300;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
    transform: scale(1);
}
.my_nav a:hover,
.my_nav a.home{
    color: #75b2ca;
}



.about_me{
    position: relative;
    min-height: 100vh;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    width: 100%;
    /* padding: 0 10%; */
    background: linear-gradient(90deg,var(--themeColor), var(--themeColor), var(--themeColor), var(--themeColor));
    
}

.wrapBigger{
    width: 40%;
}
.bigger{
    height: max-content;
    width: 100%;
    padding-left: 10px;

    mask-image: linear-gradient(transparent, #000,#000, transparent);
    -webkit-mask-image: linear-gradient(transparent, #000, #000, transparent);
}


.bigger img{
    object-fit: cover;
    /* object-position: 40% 60%; */
    object-position: center;
    height: max-content;
    max-height: 80vh;
    width: 100%;
    border-radius:  10%;
    transition: all .5s;
    
    mask-image: linear-gradient(90deg,transparent,#00000057,#000,#000,#00000057,transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent,#00000057, #000, #000,#00000057, transparent);
}



.content{
    position: relative;
    background-color: transparent;
    border-radius: 7px;
    width: 50%;
    max-width: 100%;
    padding: 10px;
    backdrop-filter: blur(3px);
    overflow: hidden;

}
.content h1{
    font-size: 2em;
    font-weight: 700;
    margin-top: 10px;
    /* color: var(--headerColor); */
    }
.content p{
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 10px;
    letter-spacing: 1.1px;
    position: relative;
}
.about_me .content p::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #07151f; */
    background-color: var(--themeColor);
    position: absolute;
    animation: showRight 5s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes showRight {
    100%{
        width: 0;
    }
}


.content h3{
    font-size: 2em;
    font-weight: 700;
    color: #00abf0;
    margin-top: 10px;
    position: relative;

    /* animation: headerTr 5s ease-in-out forwards; */
}
@keyframes headerTr{
    0%{
        color: #00acf025;
    }
    50%{
        color: #0455756c;
    }
    90%{
        color: #00abf0;
        }
}
.content .hire{
    color: #38f7b7;
    text-decoration: none;
    transition: all 1s;
}
.content .hire:hover{
    background-color: #076445;
    font-size: 1.3em;
}

.btn_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
    margin: 2px;
    /* padding: 5px 15px; */
    padding: 10px;
    /* overflow: hidden; */
}
.btn_box a{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
    text-decoration: none;
    color: #07f0a2;
    font-size: 1.2em;
    font-weight: 700;
    padding: 7px;
    background-color: transparent;
    width: 40%;
    margin: 3px;
    letter-spacing: 1px;
    text-wrap: nowrap;
    border-radius: 4px;
    border: .1px solid #00abf0;
    z-index: 1;
    overflow: hidden;
}
.btn_box a:hover{
    background-color: #00233150;
    color: #ececec;
}
.btn_box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #6bc0a223;
    z-index: -1;
    transition: .5s;
}
.btn_box a:hover::before{
    width: 100%;
}

.home_icons{
    background: transparent;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: max-content;
    margin: 3px;
    border-radius: 10px;
}
.home_icons a{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: 40px;
    background: transparent;
    border: .1px solid #00abf0;
    border-radius: 100px;
    font-size: 20px;
    color: #38f7b7;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}
.home_icons a::before{
    content: '';
    background: #076445;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    position: absolute;
    transition: .5s;
}
.home_icons a:hover::before{
    width: 100%;
    height: 100%;
}
.home_icons a:hover{
    color: black;
}




.myInfoWrapper{
    /* background: linear-gradient(var(--themeColor),var(--themeColor),#0ada9156,var(--themeColor),var(--themeColor)); */
    background-attachment: fixed;
    background-image: url(images/AI\ 2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-image-slice: fill 1;
    border-image-source: linear-gradient(var(--background2),var(--background1), #29024d9a, #01171dbd, var(--background3),var(--background1));

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-height: max-content;
    border-radius: 6px;
    margin: 50px;
    width: 100%;
    margin: auto;

}
.myInfoWrapper h1{
    font-size: 2em;
    color: #38f7b7;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    
}
.myInfo{
    width: 30%;
    margin: 30px;
    border: .1px solid var(--border-color);
    padding: 10px;
    border-radius: 4px;
    line-height: 1.5;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

    background: var(--background2WithTransparency);
}
.myInfo p{
    padding: 5px;
    font-size: 1.2em;
}
.about_Me{
    /* border-right: 0px solid gray; */
}

.myInfo .myEmail{
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #07f0a2;
    font-style: italic;
    text-shadow: 1px 1px 1px;
    letter-spacing: 1.5px;
}
.myInfo span{
    color: #00abf0;
    letter-spacing: 2px;
    font-size: 1.3em;
}


.skills_wrapper{
    /* border-left: 0px solid gray; */
}
.skills_wrapper li {
    margin-left: 7px;
    font-size: 1.2em;
}
.skills_wrapper .aws{
    list-style-type: none;
    text-align: center;
}
.skills_wrapper h3{
    color: #00abf0;
    padding: 5px;
}

.socials{
    border-top: 0px solid gray;
    flex-wrap: wrap;
}


.servicesWrapper{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    margin: auto;
    min-height: 70vh;
    padding: 5px;
    text-align: center;

    background-image: url(images/AI\ uni.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: hidden;
    border-radius: 4px;
    border-image-slice: fill 1;
    border-image-source: linear-gradient(var(--background1),var(--background2), #29024d9a, #01171dbd, var(--background3),var(--background1));
}
.servicesWrapper h3{
    color: #38f7b7;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    z-index: 999;
}
.wrapServices{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}
.card{
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
    border-radius: 3px;
    border: .1px solid gray;
    /* min-height: 40vh; */
    width: 31%;
    padding: 10px;
    text-align: start;

    background: var(--background2WithTransparency);
}
.card .holderP{
    text-align: center;
    max-height: 30vh;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;

    mask-image: linear-gradient(#00000044,#000, #00000088, transparent);
    -webkit-mask-image: linear-gradient(#00000046,#000,#00000088,transparent);
}

.card *{
    padding: 7px;
}
.card h3{
    color: #00abf0;
    text-align: center;
    font-size: 1.1em;
}
.card p{
    color: #ececec;
    line-height: 1.5;
}


.wrapperProjects {
    /* background: url(images/logo2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-blend-mode: darken;
    background-color: #063547; */
    position: relative;
 
}
.wrapperProjects .myProjectsHeader{
    text-align: center;
    font-size: 1.4em;
    font-style: normal;
    padding-top: 15px;
    text-wrap: wrap;
    color: #38f7b7;
    text-transform: uppercase;
    font-family: consolas;
    background: transparent;
}

.projects{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;

    background-attachment: fixed;
    background-image: url(images/projo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-image-slice: fill 1;
    border-image-source: linear-gradient( var(--background1),var(--background2),var(--background1), var(--background2));
}
.projo{
    max-height: max-content;
    min-height: 30vh;
    width: 40%;
    border: .1px solid gray;
    border-radius: 6px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    /* background: linear-gradient(#07151f,var(--themeColor),#29024d9a); */
    backdrop-filter: blur(2px);
    /* -webkit-backdrop-filter: blur(10px); */
    background: var(--background2WithTransparency);
    /* padding: 20px 10px; */
}

.projo h1{
    text-align: center;
    color: #00abf0;
    font-size: 1.4em;
    padding: 10px 5px;
}
.projo p{
    padding: 10px;
    color: #aaa;
    line-height: 1.5;
    text-align: start;
    letter-spacing: 1px;
}
.btnViewWebsite{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
}
.btnViewWebsite button,
.btnViewWebsite .hire{
    background: transparent;
    border-radius: 3px;
    border: .1px gray solid;
    padding: 10px;
    color: #ddd;
    font-size: 1.1em;
    cursor: pointer;
}



/* This is the contact me section styling */
.contactMeWrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    max-width: 100%;
    margin: auto;
    background-image: url(images/AI\ uni.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow: hidden;
    border-radius: 4px;
    border-image-slice: fill 1;
    border-image-source: linear-gradient(var(--background2),var(--background2),#29024d9a,#01171dbd,#000);
}
/* .contactDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 16px;
}
.contactDiv div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
}
.contactDiv p{
    color: #00abf0;
    font-weight: 600;
    font-size: 1.2em;
    max-width: max-content;
    margin: 10px;
}
.contactDiv input{
    background: #00000060;
    backdrop-filter: blur(2px);
    border: .1px solid #770addef;
    -webkit-backdrop-filter: blur(2px);
    color: #fff;
    border-radius: 6px;
    padding: 20px;
    min-width: 450px;
    max-width: max-content;
    font-size: 1.4em;
    overflow: hidden;

    border-image-slice: 1;
    border-image-source: linear-gradient(var(--background4), var(--background5), gray, #fff);
}
.contactDiv textarea{
    background: #00000060;
    border: .1px solid #770addef;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 2px;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 10px;

    border-image-slice: 1;
    border-image-source: linear-gradient(var(--background4), var(--background5), gray, #fff);}
.contactDiv ::placeholder{

}
.contactDiv input::-moz-focus-outer{
    border: 0px solid #000;
}
.contactMeWrapper .sendEmail{
    padding: 10px;
    border: .1px solid gray;
    background: #00000060;
    color: #00abf0;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 2s;
}
.contactMeWrapper .sendEmail:hover{
    background-color: #f0930760;
    color: #fff;
} */
.contactMeWrapper *{
    padding: 10px;
}
.contactMeWrapper h2 {
    color: #00abf0;
    text-align: center;

}
.contactMeWrapper .webPaths{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactMeWrapper .webPaths a{
    transition: all 1s;
    text-align: center;
}
.contactMeWrapper .webPaths a:hover{
    color: #07f0a2;
    font-size: 1.2em;
    text-decoration: underline;
}
.contactMeWrapper .webPaths a{
    color: var(--headers2);
    text-decoration: none;

}

.contactDetails div{
    display: flex;
    align-items: center;
}
.contactDetails span{
    color: #ccc;
}


.contactMeWrapper .socialsLink{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.contactMeWrapper .socialsLink div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    
}
.contactMeWrapper .socialsLink i{
    align-items: center;
    font-size: 1em;
    text-decoration: none;
    padding: 5px;
}
.contactMeWrapper .socialsLink a{
    align-items: center;
    color: #ddd;
    font-size: 1em;
    text-decoration: none;
    padding: 5px;
}
.contactMeWrapper .socialsLink a:hover{
    color: #38f7b7;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}





.nameWrapper{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-wrap: wrap;
    text-align: center;
}



/* Mobile responsive styles for devices with width lower than 550px */
@media (max-width: 550px) {
    body {
        min-height: 100dvh;
    }

    .wrapperGeneral {
        width: 100%;
        margin: auto;
        position: relative;
    }


    .loaderWrapper {
        /* background-color: red; */
        width: 100%;
        margin: auto;
        height: 85dvh;
        border-radius: 6px;
    }

    .loaderWrapper .name {}

    .loaderWrapper .name span {
        letter-spacing: 10px;
        font-size: 1.3em;
    }

    .headers {
        width: 100%;
        justify-content: space-between;
    }

    .my_nav {
        display: none;
    }


    .about_me {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }

    .wrapBigger {
        width: 98%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }

    .bigger {
        width: 65%;
        object-position: bottom;
        max-height: 50vh;

        mask-image: linear-gradient(transparent, transparent,#000, #000, transparent);
        -webkit-mask-image: linear-gradient(transparent, transparent,#000, #000, transparent);
    }

    .bigger img {
        mask-image: linear-gradient(90deg, transparent, #000, #000, #000, transparent);
        -webkit-mask-image: linear-gradient(90deg, transparent, #000, #000, #000, transparent);
    }

    .content {
        width: 98%;
        margin: auto;
    }

    .content h1 {
        font-size: 1.2em;
        font-weight: 400;
    }

    .content p {
        font-size: .7em;
        margin-top: 4px;
    }

    .content h3 {
        font-size: 1.2em;
        font-weight: 500;
        margin-top: 5px;
    }

    .content .hire:hover {
        font-size: 1em;
    }


    .myInfoWrapper {
        flex-direction: column;
    }

    .myInfoWrapper h1 {
        font-size: 1.2em;
    }

    .myInfo p {
        font-size: .8em;
    }

    .myInfo {
        width: 85%;
    }

    .myInfo span {
        font-size: 1em;
    }

    .skills_wrapper li {
        font-size: .6em;
    }


    .servicesWrapper h3 {
        font-size: 1em;
    }

    .wrapServices {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card {
        width: 95%;
    }

    .card h3 {
        font-size: .8em;
    }
    .card p{
        font-size: .7em;
    }


    .wrapperProjects .myProjectsHeader {
        font-size: 1em;
    }

    .projects {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .projo {
        width: 90%;
        margin: auto;
    }

    .projo h1 {
        font-size: .9em;
    }
    .projo p{
        font-size: .7em;
    }

    .btnViewWebsite button,
    .btnViewWebsite .hire {
        font-size: .8em;
    }



    .contactMeWrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .webPaths a{
        font-size: .8em;
    }
    .contactMeWrapper .webPaths a:hover {
            color: #07f0a2;
            font-size: .8em;
            text-decoration: underline;
    }

    .contactDetails span {
        font-size: .8em;
    }        
    .contactMeWrapper .socialsLink i {
        font-size: .8em;
    }
    .contactMeWrapper .socialsLink a {
        font-size: .8em;
    }
    
    .contactMeWrapper .socialsLink a:hover {
        font-size: .8em;
    }


    .copy {
        text-align: center;
        font-size: .6em;
    }
}